.product_info {
	position: relative;
	float: left;
	width: 100%;
	height: auto;
	background: #fff;
	padding: 40px 80px;
}
.product_info .product_slider {
	position: relative;
	float: left;
	width: 48%;
}
.product_info .product_description {
	position: relative;
	float: left;
	width: 52%;
} 
.product_desc_right {
    width: 100%;
    float: left;
    border-left: 1px solid #686868;
    padding-left: 70px;
}
.product_info .product_description .product_title {
	position: relative;
	width: 100%;
	font-weight: 700;
	color: #151515;
	margin-bottom: 8px;
	text-transform: uppercase;
	font-size: 26px;
	font-family: 'Oswald', sans-serif;
}
.product_info .product_description .product_name {
	position: relative;
	float: left;
	width: 85%;
}
.product_info .product_description .product_cost {
	color: #151515;
	font-size: 20px;
	font-weight: 700;
	font-family: 'Oswald', sans-serif;
}
.product_info .product_description .product_cost .original_price {
	color: #686868;
	text-decoration: line-through #ED1C24;
	font-weight: 400;
}
.product_info .circle.circle-d input[type="text"] {
	position: absolute;
	left: 26px;
	width: 14px;
	font-size: 21px;
	border: none;
	background: transparent;
	top: 5px;
	font-family: 'Oswald', sans-serif;
	outline: none;
}
.product_info .product_rating {
	width: 65px;
	margin-top: 10px;
}
.product_info .product_rating p {
	font-size: 18px;
	line-height: 15px;
	font-weight: 500;
	color: #151515;
}
.product_info .product_content {
	position: relative;
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	line-height: 22px;
	margin: 15px 0;
	font-family: 'Archivo Narrow', sans-serif;
}

.product_info .product_specifications {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px 0;
}
.product_info .product_specifications .title {
	position: relative;
	float: left;
	width: auto;
	margin-right: 20px;
	color: #151515;
	text-transform: uppercase;
	font-family: 'Archivo Narrow', sans-serif;
	font-size: 17px;
	font-weight: 700;
}
.product_info .product_specifications .sizes {
	position: relative;
	float: left;
	width: 38px;
	text-align: center;
	border: 1px solid #686868;
	padding: 5px 0;
	font-size: 16px;
	margin: -5px 15px 0 0;
	font-weight: 700;
	cursor: pointer;
	font-family: 'Archivo Narrow', sans-serif;
}
.product_info .product_specifications .sizes:hover,
.product_info .product_specifications .sizes.size_active
 {
	background-color: #e95b0b;
	color: #fff;
	border:1px solid #e95b0b;
}
.product_info .product_size.product_specifications .title {
	margin-right: 38px;
}
.product_info .product_specifications .color {
	position: relative;
	float: left;
	width: 36px;
	margin: -10px 20px 0 0;
}
.product_info .product_specifications .color img {
	width: 100%;
}
.product_info .delivery_date {
	position: relative;
	float: left;
	width: 100%;
	color: #686868;
	font-size: 14px;
	font-family: 'Archivo Narrow', sans-serif;
}
.product_info .delivery_date span {
	float: left;
	font-size: 50px;
	margin: 0 20px 0 0;
}
.product_info .delivery_date .content {
	float: left;
	width: auto;
	margin-top: 14px;
	font-size: 16px;
}
.product_info .checkout_btns {
	position: relative;
	float: left;
	width: 100%;
	margin: 20px 0 20px 70px;
}
.product_info .checkout_btns .button {
	padding: 20px;
	width: 250px;
	font-size: 16px;
	margin-right: 20px;
	border: 2px solid #ea4015;
}
.product_info .checkout_btns #cart_button {
	background: #fff;
	color: #151515;
	border: 2px solid #151515;
}
.similar_products {
	position: relative;
	float: left;
	width: 100%;
	margin: 50px 0 0 0;
}
.similar_products .cart_section {
	border: 1px solid transparent;
	padding: 0px;
	background: #fff;
}
.similar_products .slick-dots {
	bottom: -15px;
}
.reviews {
	position: relative;
	float: left;
	width: 100%;
	background: #fff;
	padding: 40px 80px;
}
.reviews .title {
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 26px;
	text-decoration: underline;
}
 .recent_review {
	position: relative;
	float: left;
	width: 100%;
	padding: 0 20px 20px 20px;
	border-bottom: 1px solid #686868;
	margin: 25px 0 0 0;
}
 .recent_review:last-child{
	border: none;
}/*
.reviews .recent_review:last-of-type {
	border-bottom: transparent;
	display: none;
}*/
.reviews .recent_review .user_img {
	float: left;
	width: auto;
	margin-right: 15px;
}
.reviews .recent_review .user_img img {
	width: 100%;
}
.reviews .recent_review .user_img span.review_icon{
	font-size: 65px;
	color: #686868;
}
.reviews .recent_review .content {
	position: relative;
	float: left;
	width: 85%;
	font-size: 15px;
	line-height: 21px;
	margin-top: 10px;
	font-family: 'Archivo Narrow', sans-serif;
	color: #686868;
}
.reviews .recent_review .circle.circle-e input[type="text"] {
	position: absolute;
	left: 26px;
	width: 14px;
	font-size: 21px;
	border: none;
	background: transparent;
	top: 5px;
	font-family: 'Oswald', sans-serif;
	outline: none;
}
.reviews .recent_review .product_rating {
	width: 65px;
}	
.reviews .recent_review .product_rating p {
	font-size: 18px;
	line-height: 15px;
	font-weight: 500;
	color: #151515;
}
.reviews .view_more {
	position: relative;
	width: 100%;
	margin: 0 auto;
	display: table;
	margin-top: 35px;
	float: left;
	text-align: center;
}
.reviews .view_more .button {
	background: #fff;
	float: none;
	color: #151515;
	border: 2px solid #151515;
}

.product_slider #gallery_01 img{border:2px solid white;}

.product_slider .active img{border:2px solid #333 !important;}

.product_slider #gal1 {
	position: relative;
	float: left;
	width: 80%;
	margin-top: 20px;
}
.product_slider .slick-slide img {
	width: 90%;
}
.product_slider button.slick-prev.slick-arrow {
	left: -44px;
	right: 0;
	top:35px;
	background: transparent;
}
.product_slider button.slick-prev.slick-arrow:before {
	background-image: none;
}
.product_slider button.slick-prev.slick-arrow span {
	font-size: 30px;
	z-index: 9999;
	color: #151515;
	font-weight: 700;
}
.product_slider button.slick-next.slick-arrow {
	top: 35px;
	bottom: 0;
	right: -35px;
	z-index: 0;
	background: transparent;
}
.product_slider button.slick-next.slick-arrow:before {
	background-image: none;
}
.product_slider button.slick-next.slick-arrow span {
	font-size: 30px;
	z-index: 9999;
	color: #151515;
	font-weight: 700;
}